/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.board{
  background-image: url('bg.gif');
  background-color: black;
  border: 10px solid black;
}
.scoreboard{
  width: 250px;
  background-color: white;
  float: right;
  padding: 5px;
}
.player{
  border: 20px solid red;
  border-radius: 20px;
  position: absolute;
}
